.wrapper{
	text-align:center;
	/* color: #BFFCF9; */
	color: rgba(0,0,0, .5);
	font-size: 1.8rem;
	padding: 30px 0;
}

.wish_title{
	font-size: 2rem;
	font-family: 'Redressed', cursive;
}
.wish_title .hbn{
	/* background: white; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
.hbn .hb, .hbn #name{
	padding: 7px 10px;
	color: rgba(78, 22, 190, .8);
}
.hbn .hb{
	background: rgba(78, 22, 190, .8);
	color: #BFFCF9;
}
.hbn #name{
	border-radius: 0 0 50% 50%;
	font-family: 'Stylish', sans-serif;
	background: #BFFCF9;
	text-shadow: 0 0 40px rgba(191,252,249, 1);
	text-transform: uppercase;
	padding-bottom: 15px;
	/* margin-top: 8px; */
}

.wish_title .inadvance{
	font-size: 3rem;
}

.timer{
	box-sizing: border-box;
	color: #BFFCF9;
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	max-width: 820px;
	padding: 0 10.5px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.timer .blox{
	background: rgba(0,0,0, .4);
	margin: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 180px;
	font-size: 3rem;
	font-weight: 600;
}

.timer .blox .name{
	font-size: .6rem;
	font-weight: 400;
}

.creator_info{
	margin: 50px auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.byWhom{
	display: inline-block;
	background: linear-gradient(rgba(255,255,255, .6),rgba(255,255,255, .6)), url('../img/unknown.jpg');
	background-size: cover;
	background-position: center top;
	font-size: 1.5rem;
	width: 270px;
	box-shadow:  13px 13px 3px rgba(0,0,0, .3),
	    -13px -13px 3px rgba(255,255,255, .3);
	border-radius: 10px;
	overflow: hidden;
}
.byWhom .by{
	box-sizing: border-box;
	background: none;
	color: rgba(78, 22, 190, .8);
	padding: 5px;
	height: 50px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 1.7rem;
}
.byWhom .cname{
	text-shadow: 0px 0px 10px rgba(93, 30, 218, .5),
		0px 0px 15px rgba(255, 255, 255, 1);
	font-family: 'Montserrat', sans-serif;
	color: rgba(48, 11, 122, 0.8);
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	/* below height is get from byWhom  height minus by height */
	min-height: 210px;
	background: none;
}

.msg_area{
	max-width: 70%;
	font-size: 1rem;
	background: rgba(215, 203, 238, 1);
	border-radius: 10px;
	overflow: hidden;
	font-family: 'Stylish', sans-serif;
	margin-left: 25px;
}
.msg_area .indication{
	background: rgba(78, 22, 190, .8);
	padding: 5px 7px;
	box-sizing: border-box;
	font-size: 1.3rem;
	color: #eee;
}
.msg_area .msg{
	color: rgba(0,0,0, .7);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	text-align: justify;
	font-size: 1.05rem;
	padding: 3% 5%;
	min-height: 227px; /* obtained from subtract*/
}








@media (max-width:820px) and (min-width: 620px ){
	.timer .sec{
		grid-column: 1/4;
	}
}
@media(max-width:768px){
	.creator_info{
		flex-direction: column;
	}
	.msg_area{
		margin-left:0;
		margin-top: 20px;
		width: 85%;
	}
	.msg_area .msg{
		min-height: auto;
		padding: 20px;
	}
}
@media(max-width:425px){
	.msg_area{
		max-width: 95%;
	}
	.byWhom{
		width: 90%;
	}
}
@media(max-width:420px){
	.timer .blox{
		height: 140px;
	}
	.creator_info{
		margin-top: 100px;
	}
}