.supports{
  position: absolute;
  top: 0; left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  z-index: -1;
  pointer-events: none;
}

.support1, .support2, .support3, .support4, .support5, .support6, .support7, .support8, .support9, .support10{
  width: 50px;
  height: 150px;
  background:rgba(255, 255, 255, .08);
  border-radius: 0 0 100px 100px;
  pointer-events: none;
}
.support1{
  height: 200px;
}
.support2{
  height: 290px;
}
.support3{
  height: 170px;
}
.support4{
  height: 220px;
}
.support5{
  height: 110px;
}
.support6{
  height: 150px;
}
.support7{
  height: 250px;
}
.support8{
  height: 170px;
}
.support9{
  height: 120px;
}
.support10{
  height: 220px;
}

.wrapper{
  /* min-width: 100%;
  min-height: 100vh; */
}

.title{
  text-align: center;
  padding: 50px 10px 10px;
  color: rgba(0, 0, 0, .6);
}

.title h2{
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  margin: 0;
}

.title h1{
  font-family: 'Redressed', cursive;
  font-size: 2.7rem;
  font-weight: bold;
  margin: 0;
}

.tagline{
  color: #444;
  min-width: 200px;
  margin: 80px auto 40px;
  text-align: center;
  font-family: 'Stylish', sans-serif;
  font-size: 1.2rem;
}

.tagline .written{
  width: 60vw;
  margin: 0 auto;
}

.tagline form, .tagline .result{
  margin: 100px auto 0;
  /* border: 1px solid; */
  max-width: 500px;
  padding: 10px 6px 10px 3px;
  background: linear-gradient(-135deg, rgba(255,255,255,.1),rgba(255,255,255,.0));
  border-radius: 10px;
  box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, .1), 
    -15px -15px 40px 0px rgba(255, 255, 255, .17);
}

form .two_wrapper{
  padding: 30px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 180px;
}

form .two_wrapper .first, form .two_wrapper .second{
  width: 235px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tagline form .name{
  outline: none;
  margin: 0 auto !important;
  font-size: 1.1rem;
  font-family: 'Stylish', sans-serif;
  padding: 2px 10px !important;
  color: #4e16be;
}
.tagline form .name::placeholder{
  color: rgba(78, 22, 190, .6);
}

.tagline form .select_wrapper, .tagline form .name, .tagline form .msg{
  box-sizing: border-box;
  background: rgba(223,230,233, .05);
  border: 2px solid #5f27cd;
  padding: 0 5px;
  border-radius: 100px;
  width: 85%;
  margin: 18px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tagline form .select_wrapper select{
  color: #4e16be;
  padding: 5px 0;
  cursor: pointer;
  background: none;
  width: 100%;
  font-size: 1rem;
  outline: none;
  border: none;
  font-family: 'Stylish', sans-serif;
  font-weight: bold;
}

.tagline form .msg{
  font-size: 1rem;
  padding: 5px 7px;
  outline: none;
  border: 0px solid #5f27cd;
  border-radius: 10px;
  background: rgba(223,230,233, .15);
  height: 120px;
  resize: none;
  font-family: 'Stylish', sans-serif;
  color: #4e16be;
  white-space: pre-wrap;
}
.tagline form .msg::placeholder{
  color: rgba(78, 22, 190, .6);
}

.tagline form button{
  padding: 8px 26px;
  font-size: 1.2rem;
  margin: 10px;
  background: #5f27cd;
  color: #eee;
  font-family: 'Stylish', sans-serif;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  transition: opacity .5s ease-in-out;
}
.tagline form button .skewed{
  content: '';
  pointer-events: none;
  width: 25px;
  height: 100%;
  background:rgba(255, 255, 255, .2);
  position: absolute;
  top:0; right: 102%; left: auto;
  transform: skewX(-16deg);
  transition: all .5s cubic-bezier(.55,.71,.59,.26);
}
.tagline form button:disabled:hover .skewed{
  right: 102%;
}
.tagline form button:hover .skewed{
  right: -28px;
}
.tagline form button i{
  margin-left: 7px;
}
.tagline .result_wrapper{
  background: rgba(75, 101, 132, .9);
  width: 100%;
  min-height: 205px;
  height: 100vh;
  position: fixed;
  top: 0; left:0;
  transition: opacity .5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity:0; pointer-events: none; 
}
.tagline .result{
  margin:0;
  background: #73bdd5;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, .25);
  transform-origin: 50% 50% 0 !important;
  width: 280px;
  padding: 5px 15px 20px;
}
.result .close_wrapper{
  margin: 5px 0 15px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result h4{
  color: #006f00;
}
.result .close{
  background-color: #dd3634;
  font-size: .9rem;
  color: #eee;
  width: 27px;
  height: 27px;
  border: none;
  outline: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.result .link{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* background:rgba(0, 0, 0, .25); */
  width: 100% !important;
  resize: none;
  background: none;
  border: none;
  outline: none;
  font-size: .9rem;
}
.result .btns{
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result .btns .btn{
  font-family: 'Montserrat', sans-serif;
  width: 48.7%;
  padding: 6px 3px;
  font-size: 1rem;
  border: 3px solid transparent;
  border-radius: 40px;
  transition: .2s;
  box-sizing: border-box;
}
.result .btns .btn:focus{
  box-shadow: 0 0 0 4px rgba(78, 22, 190, .3);
}
.result .btns .btn:nth-child(1){
  font-weight: 600;
  border-color: #4e16be;
  background: rgba(255, 255, 255, .1);
  color: #4e16be;
  text-decoration: none;
}
.result .btns .btn:nth-child(2){
  font-weight: 500;
  background: #4e16be;
  color: #eee;
}
.result .btns .btn i{
  margin-left: 5px;
}
.result .whatsapp_share{
  padding: 9px 10px;
  box-sizing: border-box;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #075E54;
  border: none;
  border-radius: 100px;
  color: rgba(223,230,233, .9);
  font-weight: 500;
}
.result .whatsapp_share .fab{
  font-size: 1rem;
  margin-right: 7px;
  color: #66f199;
}

footer{
  margin-top: 200px;
}
footer .emoji{
  -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
  pointer-events: none;
}










@media(max-width: 920px){
  .support10{
    display: none;
  }
}
@media(max-width: 870px){
  .support9{
    display: none;
  }
}
@media(max-width: 768px){
  .support8{
    display: none;
  }
}
@media(max-width: 580px){
  .support7{
    display: none;
  }
  form{
    max-width: 235px !important;
  }
  form .two_wrapper{
    flex-direction: column;
    height: 346px;
  }
  form .two_wrapper .first, form .two_wrapper .second{
    height: 160px;
  }
}
@media(max-width: 450px){
  .tagline form .select_wrapper{
    /* width: 160px; */
  }
}
@media(max-width: 425px){
  .support6{
    display: none;
  }
}
@media(max-width: 375px){
  .support5{
    display: none;
  }
  .result_wrapper .result{
    width: 80%;
  }
  .result .btns .btn{
    width: 100%;
  }
  .result .btns .btn:nth-child(2){
    margin-top: 10px;
  }
  .result .btns{
    flex-direction: column;
  }
}
@media(max-width: 320px){
  .support4{
    display: none;
  }
}
@media(max-width: 230px){
  .support3{
    display: none;
  }
  .tagline{
    min-width: 95%;
  }
}